*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    padding: 40px;
}

.container{
    max-width: 900px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #041742;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

thead{
    background: #041742;
    color: white;
}

th,
td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover{
    background: #f1f5f9;
}

.presente{
    color: #166534;
    font-weight: bold;
}

.falta{
    color: #991b1b;
    font-weight: bold;
}